img{
    width: 450px;
    display: flex;
    padding: 2.5rem;
}

.card{
    margin: auto;
    width: 35%;
    text-align: center;
    box-shadow: 1px 1px 10px 1px gray;
}
    
button{
    margin-top: 1% !important;
}