.text-muted{
    margin-right: 1rem !important;
}

.card{
    transition: transform .3s ease, box-shadow .3 ease;
}

.card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.63) !important;
    background-color: rgb(243, 243, 243)
}